* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5 ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

#up {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #414c64;
    color: #fff;
    align-items: center;
    justify-content: center;
    box-shadow: 0.5px 1px 5px 5px rgba(0, 0, 0, 0.5);
    transition: var(--transition-speed);
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
}

#up:hover {
    background-color: #FFC107;
}


header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.conteiner {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 30px 10px;
    color: white;
}

.con {
    list-style: none;
}

.con .conlist {
    display: inline-block;
    padding: 0px 15px;
    position: relative;
    line-height: 40px;
}

.con .conlist a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.con .conlist a:hover {
    color: #FFC107;
}

.sub {
    display: none;
    position: absolute;
    background-color: rgb(255, 254, 254);
    width: 150px;
    text-align: center;
    right: 0%;
}

.sublist {
    list-style: none;
    padding: 5px;
}

.sub .sublist a {
    color: black;
}

.conlist:hover .sub {
    display: block;
}

.ri-menu-line {
    display: none;
}

.profile {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    color: white;
}

.profile h1 {
    font-size: 38px;
    padding: 10px 0px 5px 0px;
}

.profile p {
    font-size: 20px;
    padding: 5px 0px 45px 0px;
}

.profile a {
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    border-radius: 50px;
    border: 2px solid #FFC107;
    font-weight: 500;
    transition: all 0.8s;
}

.profile a:hover {
    background-color: #FFC107;
}

.logo-img {
    background-color: rgb(234, 233, 233);
    height: 110px;
}

.img {
    width: 8%;
}

.img img {
    width: 100%;
    filter: grayscale(100);
    transition: all 0.8s;
    line-height: 110px;
}

.img img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.image {
    width: 49%;
}

.image img {
    width: 100%;
}

.about-content-main {
    width: 49%;
}

.about-content-main h1 {
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0px;
    color: #414c64;
}

.about-content-main p {
    padding: 10px 0px;
    color: #848484;
    font-size: 17.5px;
}

.about-content-symbol-main {
    padding-top: 20px;
    display: flex;
}

.about-content-symbol-main i {
    font-size: 50px;
    color: #8b97b3;
}

.about-content-symbol-main h3 {
    color: #414c64;
    font-size: 22px;
}

.footer-main {
    background-color: rgb(234, 233, 233);
}

.footer-main .conteiner {
    justify-content: space-around;
    text-align: center;
}

.number {
    font-size: 45px;
    color: #414c64;
}

.wrap {
    font-size: 17px;
    color: #414c64;
}

.main-content-container {
    padding-top: 60px;
    position: relative;
}

.main-content-container h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #444444;
    padding-bottom: 5px;
}

.main-content-container p {
    text-align: center;
    width: 70%;
    margin: auto;
    color: #aab3c7;
    padding-top: 50px;

}

.box-content1 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.dot::after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: #FFC107;
    display: block;
    margin: auto;
    transition: all 0.3s;
}

.box-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.box-content .box1,
.box-content1 .box1 {
    background-color: #ffffff;
    height: 300px;
    width: 30.5%;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 2PX;
}

.box-content .box1:hover .icon0 {
    background-color: #47aeff;
}

.box-content .box1:hover .fa-dribbble {
    color: white;
}

.box-content .box2:hover .icon2 {
    background-color: #ffa76e;
}

.box-content .box2:hover .fa-file {
    color: white;
}

.box-content .box3:hover .icon1 {
    background-color: #e80368;
}

.box-content .box3:hover .fa-gauge-simple-high {
    color: white;
}

.box-content1 .box1:hover .icon1 {
    background-color: #ffbb2c;
}

.box-content1 .box1:hover .fa-layer-group {
    color: white;
}

.box-content1 .box2:hover .icon2 {
    background-color: #ff5828;
}

.box-content1 .box2:hover .fa-tv {
    color: white;
}

.box-content1 .box3:hover .icon1 {
    background-color: #11dbcf;
}

.box-content1 .box3:hover .fa-archway {
    color: white;
}

.box-content .box2,
.box-content1 .box2 {
    background-color: #ffffff;
    height: 300px;
    width: 31.5%;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 2PX;
}

.box-content .box3,
.box-content1 .box3 {
    background-color: #ffffff;
    height: 300px;
    width: 31.5%;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 2PX;
}

.box-content .box1 span,
.box2 span,
.box3 span,
.box-content1 .box1 span,
.box2 span,
.box3 span {
    height: 60px;
    width: 60px;
    background-color: #f5f5f5;
    position: absolute;
    top: 30%;
    border-radius: 50%;
    left: 42%;
    transition: all 0.8s;
}

.box-content .box1 h2,
.box2 h2,
.box3 h2,
.box-content1 .box1 h2,
.box2 h2,
.box3 h2 {
    padding-top: 160px;
    font-weight: 500;
    color: #414c64;
}

.box-content .box1 p,
.box2 p,
.box3 p,
.box-content1 .box1 p,
.box2 p,
.box3 p {
    width: 85%;
    font-size: 14px;
}

.box-content .box1 span i {
    font-size: 29px;
    padding: 16px 10px;
    color: #47aeff;
    ;
}

.box-content .box2 span i {
    color: #ffa76e;
    font-size: 29px;
    padding: 16px 10px;
}

.box-content .box3 span i {
    color: #ffa76e;
    font-size: 29px;
    padding: 16px 10px;
}

.box-content .box3 span i {
    color: #e80368;
    font-size: 30px;
    padding: 16px 10px;
}

.box-content1 .box1 span i {
    font-size: 29px;
    padding: 16px 10px;
    color: #ffbb2c;
}

.box-content1 .box2 span i {
    font-size: 29px;
    padding: 16px 10px;
    color: #ff5828;
}

.box-content1 .box3 span i {
    font-size: 29px;
    padding: 16px 10px;
    color: #11dbcf;
}
.act
{
    margin: 5% 0%;
    background-color: #414c64;
    padding-bottom: 60px;
}
.vice-act
{
    width: 85%;
    margin: auto;
    text-align: center;
}
.vice-act h1
{
    color: white;
    padding:50px 0px 15px 0px ;
}
.vice-act p
{
    color: white;
    padding-bottom: 40px;
    font-size: 17px;
}
.vice-act a
{
    color: white;
    text-decoration: none;
    border: 2px solid #FFC107;
    padding:15px 50px;
    border-radius: 50px;
    transition: all 0.8s;
}
.vice-act a:hover
{
    background-color: #FFC107;
}
.vice-test
{
    width: 85%;
    margin: auto;
    text-align: center;
}
.vice-test h1
{
    margin-bottom: 8px;
    font-size:32px;
    color: #444444;
}
.vice-test .dot::after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: #FFC107;
    display: block;
    margin: auto;
    transition: all 0.3s;
    margin-bottom: 2%;
}
.vice-test p
{
    font-size: 15px;
    color: #aab3c7;
}